.inner {
  padding-top: 20px;
}

.header {
  text-align: center;
  color: #3c4048;
  padding: 2rem;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 145px;
  background-color: #00abb3;
}

.container-skill {
  background: linear-gradient(to right, #f48251, #2865f0, #ffda3c);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 3rem 80px;
  font-size: 1.2rem;
}
.skill-box {
  padding: 2rem;
  color: #ddd;
  cursor: pointer;
}
.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin-bottom: 3rem;
}
.img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-title h3 {
  color: #3c4048;
  margin: 40px;
  text-transform: uppercase;
  letter-spacing: 2.3px;
}
.skill-icon {
  width: 90px;
}
.skill-box p{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #eaeaea;
    font-size: 20px;
}
