* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  color: #222831;
  background-color: #eeeeee;
}
nav {
  height: 94px;
  width: 1440px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: #222831 3px;
}
.left {
  width: 720px;
  height: 94px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.left img {
  padding: 0 30px 30px 0;
  margin-top: 2px;
  display: flex;
  width: 400px;
  height: 150px;
  transform: rotate(10deg);
}
.right {
  display: flex;
  flex-direction: row;
  height: 94px;
  width: 720px;
  justify-content: flex-end;
  z-index: 1;
  padding-top: o;
}
.right ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 94px;
    width: 720px;
    justify-content: flex-end;

}
.right ul li{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    margin: 30px;

}
.right ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-style:italic;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 20px;
    color: #222831;
    
}
.right ul li a .btn{
    border: 3px solid #222831
}
main{
    height: 100vh;
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container-hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container-hero img{
    display: flex;
    height: 100vh;
    width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

