* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  color: #222831;
  background-color: #eeeeee;
}
nav {
  height: 94px;
  width: 1440px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: #222831 3px;
}
.left {
  width: 720px;
  height: 94px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.left img {
  padding: 0 30px 30px 0;
  margin-top: 2px;
  display: flex;
  width: 400px;
  height: 150px;
  transform: rotate(10deg);
}
.right {
  display: flex;
  flex-direction: row;
  height: 94px;
  width: 720px;
  justify-content: flex-end;
  z-index: 1;
  padding-top: o;
}
.right ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 94px;
  width: 720px;
  justify-content: flex-end;
}
.right ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
  margin: 30px;
}
.right ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 20px;
  color: #222831;
}

.btn {
  border: solid 1.5px #222831;
  padding: 15px;
}
.btn:hover {
  color: #eeeeee;
  background-color: #222831;
}
main {
  height: 100vh;
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.container-hero {
  height: 100vh;
  width: 100%;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  margin-right: 0;
}
.foto-area {
  height: 100vh;
  width: 100%;
  background-image: url("/assets/img/background-nav.jpg");
  background-color: #222831;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  filter: blur(3px);
}
.text-area {
  height: 100%;
  width: 100%;
  transform: translate(1%, -87%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  text-align: center;
  position: relative;
  align-items: center;
  align-content: center;
  color: #222831;
}
.text-area h1 {
  font-size: 90px;
  text-transform: uppercase;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  text-align: center;
  margin: 50px;
  letter-spacing: 2px;
}
.text-area h3 {
  font-size: 60px;
  margin: 50px;
  font-weight: 500;
  text-align: center;
  font-style: italic;
}
.text-area button {
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  text-transform: uppercase;
  color: #222831;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 3px;
  border: solid 1px #222831;
  background-color: transparent;
  padding-left: 20px;
}
.text-area button:hover {
  background-color: #222831;
  color: #eeeeee;
}
